# Lighthouse Labs
## W03D4 Python Basics 1
Instructor: Simon Dawkins

## Agenda

In this notebook we will cover some of the basics of python. The topics we will cover listed below. 
- Syntax
- Data Types
- For Loops
- While Loops
- Control Flow (If and Else Statements)

We're mainly going to focus on the core operations, the ones that you will use most often. There is much, much more that you can do with all of the different data types in Python.

There's a lot here so it may seem pretty dry, but it will be useful for you going forward as a quick Python cheatsheet.

### Whitespace
- Python programs are organized with one statement per line. 
- Each statement occupies one line, and is separated by a line break
- Some code blocks (loops, functions, etc) are created with indents

#### Separating statements

rust uses semicolons:
```rust
// addition
add = 5 + 6;
// subtraction
sub = 1 - 2;
```

lisp uses parentheses:
```lisp
;addition
(setq add (+ 5 6))
;subtraction
(setq sub (- 1 2))
```

python uses **line breaks**:
```python
# addition
add = 5 + 6
# subtraction
sub = 1 - 2
```

#### Code blocks/functions
javascript uses braces (curly brackets):
```javascript 
function mult(num1, num2) {
  return num1 * num2;
}
```

python uses **indents**:
```python
def mult(num1, num2):
    return num1 * num2
```

### Variables

- Variables are names that we give to objects.

**Why use Variables?**
- Helps organize our code
- Store Data
- Reuse data again and again

In [2]:
var_info = 'variables hold data. assign them with the = sign'

print('variables hold data. assign them with the = sign')
print(var_info)

variables hold data. assign them with the = sign
variables hold data. assign them with the = sign

### Built in Data Types - Values and Objects

We will been working with values, which are pieces of data that a computer program works with, such as a number or text.
We will assign a lot of these values to objects (variables) with the assignment operator `=`.
These values will always belong to a data type


Here are some data types built-in to the Python language:

* Integers - `int`
* Floating-point numbers - `float`
* Strings - `str`
* Booleans - `bool` - two values: True and False.
* Lists - `list`
* Tuples - `tuple`
* Sets - `set`
* Dictionaries - `dict`

### Integers & Floats

In [6]:
type(1)

int

In [10]:
type(-1.0)

float

In [ ]:
# usethe type() function to check the type of an object

In [44]:
a = 2
b = 3


c = 5/3
round(c)

2

-2

### Arithmetic with variables

In [ ]:
a = -2
b = 12.9

# Arithmetic
c = a + 1    # Arithmetic with literals and variables
c = a + b    # Arithmetic with just variables
c = c + a    # c becomes its old value + a
c = a - b    # Subtraction
c = a * b    # Multiplication
c = b / a    # Division
c = (a + b) * 2 - a    # Compound calculations - PEMDAS
c = b // a # floor division
c = a ** b # exponents

# Functions on numbers
c = round(8.187, 2)    # Round up to the second decimal point

#### Type Casting ints and floats

In [47]:
a = -2
b = 12.9
# cast int to float
c = float(a)

# cast float to int
c = int(b)
c

12

### Strings

In [56]:
# Strings are a sequence of symbols in quotes
# Without the quotes, Python tries to interpret text as variable names
a = "IMAGINATION is more important than knowledge"


# Strings can contain any symbols, not just letters
b = 'The Meaning of Life is 42.'

c = """this
is A
mulTiline"""

# single, double, triple single, and triple double quotes

# Concatenation (combining)
d = a + b


# Functions on strings 
# Note: these functions don't change the original variables. 
# They return copies with the function applied
e = b.upper()
f = b.lower()
g = c.capitalize()

print(g)

This
is a
multiline

In [58]:
h = "hello".upper()
h

'HELLO'

#### Type casting with strings

In [64]:
# anything can be cast TO a string, but not the other way around
# cast a numeric type to a string
j = str(True)



# cast a string to a numeric type
j = float('ten')
j

ValueError: could not convert string to float: 'ten'

***

## Advanced Data Types

### Lists

- **Mutable** and **ordered** sequence of objects
- Can be indexed, sliced, and changed
- Lists can be used for any type of object, from numbers and strings to more lists.

In [68]:
# Without lists, individual and unrelated variables
# (imagine if you had hundreds of names)
person1 = 'Mal'
person2 = 'Zoe'
person3 = 'Wash'
person4 = 'Jayne'
person5 = 'Kaylee'

# Using lists, a data structure that contains many values
people = ['Mal', 'Zoe', 'Wash', 'Jayne', 'Kaylee']

# List creation
empty_list = [] # brackets (square brackets)
small_list = [2.3, 1.0, 'Jeremy'] # List elements separated by commas

small_list

[2.3, 1.0, 'Jeremy']

In [69]:
large_animals = ['African Elephant', 'Asian Elephant', 'White Rhinoceros',
                 'Hippopotamus', 'Gaur', 'Giraffe', 'Walrus', 'Black Rhinoceros', 
                 'Saltwater Crocodile', 'Water Buffalo']

In [78]:
# Access elements in a list
large_animals[0]

'African Elephant'

In [86]:
# Slicing [start:stop:step]
large_animals[3:]

['Hippopotamus',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [90]:
# changing values
large_animals[0:2] = ['Lion','Tiger']
large_animals

['Lion',
 'Tiger',
 'White Rhinoceros',
 'Hippopotamus',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [91]:
# deleting
del large_animals[3]
large_animals

['Lion',
 'Tiger',
 'White Rhinoceros',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [92]:
# extending via .append()
large_animals.append('Cat')

In [117]:
large_animals.insert(2, 'DOG')
large_animals

['Lion',
 'Tiger',
 'DOG',
 'White Rhinoceros',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo',
 'Cat']

In [95]:
# extending via concatenation
large_animals + ['Dog', 'Cow']

['Lion',
 'Tiger',
 'White Rhinoceros',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo',
 'Cat',
 'Dog',
 'Cow']

In [104]:
# Lists within lists
animal_kingdom = [
  ['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']], 
  ['Whale', 'Dolphin', 'Shark', 'Eel'],
  ['Eagle', 'Robin']
]

# indexing practice
animal_kingdom[0][3][1]

'Big Cat'

#### String and List similarities

In [115]:
# slices can be returned from strings the same as lists
a = 'this is really symbols just a list of symbols called characters'

# access a character
a[-1]

# access a slice
a[-5:-1]

# Splitting strings into lists
a.split()

# Splitting by a substring
a.split('s ')

['thi', 'i', 'really symbol', 'just a list of symbol', 'called characters']

***

## Tuple
- **immutable** and **ordered** objects
- Similar to a list, but without some funcitonalities.
- indexing and splitting similar to lists
- More efficient

In [118]:
len(animal_kingdom)

3

In [140]:
x = (1, 'python', 'canada')
y = 1.0 in x
y

True

In [ ]:
# Definition - parentheses (round brackets) and elements separated by commas
x = ('Simon', 'python', 'canada')

# Getting the size of a tuple (or list)
len(x)

# Accessing one element
y = x[0]     
# >>> 'Simon'
x[1]       
# >>> 'python'

# Accessing a sequence of entries
y = x[1:3]
# >>> ('python', 'canada')

# "Unpacking" tuples (or lists)
name, language, country = x 
# name = 'Simon', language = 'python', and country = 'canada'

# Combining tuples
y = (8, 2) + x  
# (8, 2, 'Simon', 'python', 'canada')

# Checking membership - this is faster with tuples
y = 12 in x    # False (x does not contain the value 12)
print(y)

# You cannot modify tuple objects
# They are 'immutable' (this is the essential difference from lists)
# print(name, language, country)
y



It might seem weird that tuples are essentially just lists that can't be modified. What are they good for?  When performance isn't an issue (small amounts of data), it's all about code readability.

When you use a tuple, you're telling the people who read your code "this variable will not change". 
In practice, people use lists for "homogeneous" data (i.e. a list of strings), whereas the elements in tuples are often "heterogeneous" and might include different data types and/or concepts. 

In the example above, the first entry represents my name, the second entry represents the programming language I'm using, and the third entry represents the country I live in. It would be **conceptually** strange to define these different concepts in the same list - since lists are usually homogeneous data. Tuples can be used as "keys" in dictionary data structures (which we'll see below), whereas lists cannot.

These differences communicate the objects's function, and helps make your code more understandable.

***

## Dictionary (dict)

- Similar to lists, but elements are accessed using 'keys' rather than order.
- 'keys' can take on numerous data types (str, int, floats, tuples) 
    - as long as the data type is ['hashable'](https://towardsdatascience.com/iterable-ordered-mutable-and-hashable-python-objects-explained-1254c9b9e421#:~:text=In%20particular%2C%20all%20the%20primitive,sets%2C%20and%20bytearrays%20are%20unhashable.)

In [145]:
# definition - braces, keys and values separated by colons,
# commas between key and value pairs
x = {'Student_ID': [1,2,3],
    'Student_Name': 42,
    'degree': ['marketing', 'computer science', 'snake studies']}

# access a value
x['degree']

['marketing', 'computer science', 'snake studies']

In [148]:
# modifying values
x['Student_Name'] = [42,34,55]
x

{'Student_ID': [1, 2, 3],
 'Student_Name': [42, 34, 55],
 'degree': ['marketing', 'computer science', 'snake studies']}

In [151]:
# retrieving keys
x.keys()

dict_keys(['Student_ID', 'Student_Name', 'degree'])

In [154]:
# retrieving values
x.values()

dict_values([[1, 2, 3], [42, 34, 55], ['marketing', 'computer science', 'snake studies']])

In [158]:
# retrieving keys and values
x.items()

dict_items([('Student_ID', [1, 2, 3]), ('Student_Name', [42, 34, 55]), ('degree', ['marketing', 'computer science', 'snake studies'])])

Note: Dictionaries should not be used as 'ordered' data types like lists, and it is dangerous to write your code in a way that uses the order of a dictionary. 

It makes no sense to say that the 'student_name'th entry comes before the 'degree'th entry, even though this is how we have written it above.

***

### Sets

Data structure that:
- are unordered, meaning there is no element 0 and element 1, and
- The values contained are unique - meaning there are no duplicate entries.

In [163]:
# definition - braces and commas between elements
my_list = [2, 1.0, 'apple', 1.0, 'apPle', 1, 1.0]

my_set = set(my_list)

my_set

{1.0, 2, 'apPle', 'apple'}

### Summary

|Data Structure	| Preserves order | Mutable | Symbol| Can contain duplicates | Can be sliced |
|---------|------|------|------|------|------|
|str	|✓	|☓	|''  , ""|	✓|✓|
|list	|✓	|✓	|[] |	✓|✓|
|tuple	|✓	|☓	|() |	✓|✓|
|set	|☓	|✓	|{} |	☓|☓|
|dict  |✓	|✓	|{ key : value} | 	☓| ☓|

***

### Booleans and Comparison

In [176]:
# Equality with strings
a = '1 2 3'
b = 'one two 3'
a != b

True

In [ ]:
a = True
b = False

# ---------------------------------
# Comparison Operators
a = 14
b = 5

# Equal
a == b # False

# Not equal
a != b

# Greater than
a > b

# Greater than or equal to
a >= b

# Less than
a < b

# Less than or equal to
a <= b

# Equality with strings
a = '1 2 3'
b = 'one two 3'
a == b
a != b

#---------------------------------
# Logic operators (compound boolean expressions)

# and - both must be True
snow = False
temperature = 28
camping = temperature > 25 and snow == False
print(camping)
# >>> True

snow = True
camping = temperature > 25 and snow == False
print(camping)
# >>> False


# or - either must be True
has_coffee = True
has_beer = True
print(has_coffee or has_beer)
# >>> True
has_coffee = False
print(has_coffee or has_beer)
# >>> True

In [181]:
has_coffee = False
has_beer = False
print(has_coffee or has_beer)

False

### Control structure (also refered to **control flow**): if/elif/else statements

**if statements** are one of the most essential concepts in any programming language because they allow the code to execute differently depending on external values. The format of an if statement is as follows:

- Essential Programming Concept, in any langauge. Allows the code to 'react' to circumstances.
- Executes code only if a certain condition is met

```python
if [boolean expression]: # starts with if keyword then test condition
    [what to do when the boolean expression evaluates to True]
else:   # optional
    [what to do when the boolean expression evaluates to False]
```

In [183]:
# Using the data structure above, let's output something different depending on 
# whether or not someone passed the course
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}
pass_mark = 80


if course_marks['Linda'] > pass_mark:
    print("Linda has passed her course")

else:
    print("Linda has not passed")

Linda has passed her course

#### IFs and ELIFS
```python
if [boolean expression]: #starts with if keyword then test condition
    [what to do when the boolean expression evaluates to True]
elif [boolean expression]:
    [what to do when the boolean expression evaluates to True]
else:   # optional
    [what to do when the boolean expression evaluates to False]
```

In [188]:
course_marks = {'Linda': 48, 'Andrew': 100, 'Jasmine': 12}

if course_marks['Linda'] >= 90:
    print("A")
    
elif course_marks['Linda'] >= 80:
    print("B")
    
elif course_marks['Linda'] >= 70:
    print("C")
    
else:
    print('Fail')

Fail

### Nested Ifs

In [191]:
a = 1
if a > 0:
    print('positive')
elif a == 0:
    print('zero')
else:
    print('negative')

positive

In [190]:
a = -45

if a >= 0:
    if a == 0:
        print('zero')
    else:
        print('Positive Number')
        
else:
    print("negative Number")

negative Number

## Control Flow: For Loops (definite iterations)

If all we were able to do with lists, tuples, and dictionaries was store data in them, they would essentially
just be useful for organizing our code and nothing else.
Luckily, we can iterate through them using "for" loops. The "for" loop
has the following format:
```python
for [loop variable] in [iterable object]:
    [code to execute using loop variable]
```

In [192]:
# simple for loop

my_name = "simon"

for char in my_name:
    print(char)

s
i
m
o
n

In [194]:
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}

students = course_marks.keys()
# marks = course_marks.values()
pass_mark = 85

for student in students:
    if course_marks[student] > pass_mark:
        print(student + " has passed their course")

    else:
        print(student + " has not passed")
# marks_list = list(marks)
# marks_list

Linda has not passed
Andrew has passed their course
Jasmine has not passed

In [199]:
animal_kingdom = [
  ['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']], 
  ['Whale', 'Dolphin', 'Shark', 'Eel'],
  ['Eagle', 'Robin']
]


# how can we extract all elements?
for a_list in animal_kingdom:
    for element in a_list:
        if type(element)==str:
            print(element)
        else:
            for animal in element:
                print(animal)

Elephant
Tiger
Dog
Cat
Big Cat
Whale
Dolphin
Shark
Eel
Eagle
Robin

In [200]:
# summing lists
course_marks = [100, 90, 95, 80, 70]
marks_sum = 0 # accumulator

for mark in course_marks:
    marks_sum += mark

print(marks_sum)

435

In [202]:
# Iterating through lists (or tuples) by their index
# this is necessary to change values in a list
course_marks = [82, 100, 12]

for index in range(len(course_marks)):
    course_marks[index] -= 10
    
print(course_marks)

[72, 90, 2]

In [ ]:
course_marks = {'Linda': 72, 'Andrew': 100, 'Jasmine': 12}

# iterating through dictionary keys
    
# iterating through dictionary values

# what about iterating through a dictionary itself?

## Control Flow: While Loops (aka. indefinite iterations)

Sometimes, we don't want our loop to iteratate through the values of some data structure, but
instead want it to execute until some condition is no longer met. For this, we use a "while" loop, which has the
following format:

```python
while [boolean expression]: #starts with a while keyword, followed by a test condition, ends with a colon :
    [what you want to do each iteration] #loop body contains code that gets repeated. Must be indented 4 spaces.
```

In [ ]:
# Simple
n = 10

while n != -1:
    print(n)
    n -= 1

In [ ]:
# BE CAREFUL with INFINITE LOOPS, you'll break the matrix
# Can be useful, for example with code that interacts with hardware 
# may use an infinite loop to constantly check whether a button or 
# switch has been activated

# CTRL + C forces a command line process to quit

***

## Cooking Challenge

Alberto is making spaghetti tonight and he needs to make sure that if he doesn't have enough of the ingredients in his pantry, he adds them to his shopping list.

- For each item in the recipe, check if the ingredient is in Alberto's pantry.

- If the recipe ingredient is in the pantry, check if the recipe requires more of the ingredient than what Alberto has in storage. If so, add the name and the quantity he needs to purchase as key-value pairs in the dictionary shopping_list.

- If the recipe item is not in the pantry, add the ingredient and the quantity as **key-value pairs in the dictionary** shopping_list.

In [ ]:
pantry = {'pasta': 3, 'garlic': 4,'sauce': 2,
          'basil': 2, 'salt': 3, 'olive oil': 3,
          'rice': 3, 'bread': 3, 'peanut butter': 1,
          'flour': 1, 'eggs': 1, 'onions': 1, 'mushrooms': 3,
          'broccoli': 2, 'butter': 2,'pickles': 6, 'milk': 2,
          'chia seeds': 5}

meal_recipe = {'pasta': 2, 'garlic': 2, 'sauce': 3,
          'basil': 4, 'salt': 1, 'pepper': 2,
          'olive oil': 2, 'onions': 2, 'mushrooms': 6}


shopping_list = dict()

```
1. You have a meal recipe and you have a pantry.
2. You read item by item in the meal recipe.
3. FOR each item, you verify IF you have the item in your pantry.
    3a. If you meet the previous condition, you verify IF you have enough of that item.
4. ELSE you add the whole ingredient quantity to your shopping list.

```

In [ ]:
### Solution

##  A brief word on markdown